<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>

<body>
    <main class="table" id="leaderboard_table">
        <section class="table__header">
            <h1>Coding Competition Leaderboard</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="imgs/search.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Avatar</th>
                        <th>Username</th>
                        <th>Total Problems Solved</th>
                        <th>Contests Attended</th>
                        <th>Total Points</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user, index)=> { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td><img src="<%= user.avatarPath %>" alt="Avatar"></td>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= helpers.getTotalProblemsSolved(user.monthdata) %>
                            </td> <!-- Note the usage of helpers.getTotalProblemsSolved -->
                            <td>
                                <%= helpers.getTotalProblemsSolved(user.contestmonthdata) %>
                            </td>
                            <td>
                                <%= helpers.getTotalPoints(user) %>
                            </td> <!-- Note the usage of helpers.getTotalPoints -->
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>
    </main>

    <!-- Script to handle search and sorting -->
    <script>
        const search = document.querySelector('.input-group input'),
            table_rows = document.querySelectorAll('tbody tr'),
            table_headings = document.querySelectorAll('thead th');

        // 1. Searching for specific data of HTML table
        search.addEventListener('input', searchTable);

        function searchTable() {
            table_rows.forEach((row, i) => {
                let table_data = row.textContent.toLowerCase(),
                    search_data = search.value.toLowerCase();

                row.classList.toggle('hide', table_data.indexOf(search_data) < 0);
                row.style.setProperty('--delay', i / 25 + 's');
            })

            document.querySelectorAll('tbody tr:not(.hide)').forEach((visible_row, i) => {
                visible_row.style.backgroundColor = (i % 2 == 0) ? 'transparent' : '#0000000b';
            });
        }

        // 2. Sorting | Ordering data of HTML table

        table_headings.forEach((head, i) => {
            let sort_asc = true;
            head.onclick = () => {
                table_headings.forEach(head => head.classList.remove('active'));
                head.classList.add('active');

                document.querySelectorAll('td').forEach(td => td.classList.remove('active'));
                table_rows.forEach(row => {
                    row.querySelectorAll('td')[i].classList.add('active');
                })

                head.classList.toggle('asc', sort_asc);
                sort_asc = head.classList.contains('asc') ? false : true;

                sortTable(i, sort_asc);
            }
        })


        function sortTable(column, sort_asc) {
            [...table_rows].sort((a, b) => {
                let first_row = a.querySelectorAll('td')[column].textContent.toLowerCase(),
                    second_row = b.querySelectorAll('td')[column].textContent.toLowerCase();

                return sort_asc ? (first_row < second_row ? 1 : -1) : (first_row < second_row ? -1 : 1);
            })
                .map(sorted_row => document.querySelector('tbody').appendChild(sorted_row));
        }
    </script>
</body>

</html>